---
import { results } from '../data/resultList.ts';

function getStatusClass(status: string) {
    if (status === 'Win') return 'text-green-400';
    if (status === 'Loss') return 'text-red-400';
    if( status === 'Proximo') return 'text-yellow-400'; // Upcoming match
    return 'text-gray-400'; // Draw or other
}

---
<!--TODO: add link to match details page, create details page with goals, red cards, etc.-->
<section id="results" class="py-12 bg-gray-900">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center text-team-yellow mb-8">Últimos Resultados</h2>
        <div class="bg-team-black rounded-lg shadow-xl p-6 max-w-2xl mx-auto">
            <ul class="space-y-4">
                {results.map(result => (
                        <li class="flex justify-between items-center p-4 bg-gray-800 rounded-md hover:bg-gray-700 transition-colors">
                            <div>
                                <p class="text-sm text-gray-500">{result.date}</p>
                                <p class="text-lg font-semibold text-white">Segurola y Habana vs {result.opponent}</p>
                            </div>
                            <p class={`text-xl font-bold ${getStatusClass(result.status)}`}>{result.score}</p>
                        </li>
                ))}
            </ul>
        </div>
    </div>
</section>